#task-list-panel {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 739px;
    box-shadow: -2px 0 0 #d9d9d9;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 100%;
    color: black;
    padding-top: 20px;
}

h1 {
    margin: 30px 17px 16px;
    line-height: 2.375rem;
    font-size: 1.125rem;
    font-weight: 500;
}

#task-bar {
    border-top: 1px dotted rgb(179, 179, 179);
    width: 100%;
}

#task-bar form {
    display: flex;
    flex-direction: column;
    margin: 10px 13px;
}

#task-bar input {
    border: 1px solid rgb(179, 179, 179);
    /* margin-bottom: 5px; */
    height: 30px;
    padding-left: 7px;
}

#task-bar input:hover {
    border-color: #656565;
}

#task-bar button {
    margin-top: 10px;
    align-self: flex-end;
    background-color: #2e8ceb;
    width: 90px;
    height: 32px;
    font-weight: 700;
    font-size: 14px;
}

.task-card {
    border-top: 1px dotted #d0d3d4;
    width: 100%;
    padding: 2px 0;
    cursor: pointer;
    outline: none;
    position: relative;
    height: 33px;
    display: flex;
    align-items: center;
}

.task-card li {
    list-style: none;
    border-left: 3px solid #999;
    margin: 2px 17px;
    padding: 0 7px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-card:hover {
    background-color: rgba(255, 253, 181, 0.5);
}

.task-due-date {
    font-size: 12px;
}

.overdue {
    color: red;
}

#task-list-tabs {
    display: flex;
    justify-content: flex-end;
    padding-right: 3vw;
}

.task-list-tab {
    border-top: 1px rgb(125, 125, 125) solid;
    border-right: 1px rgb(125, 125, 125) solid;
    border-left: 1px rgb(125, 125, 125) solid;
    border-radius: 2px;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 13px;
    color: blue;
}

.task-list-tab:hover {
    cursor: pointer;
}

.selected.task-list-tab {
    font-weight: 700;
    color: black;
}

