/* TODO Add site wide styles */
body {
    background-color: #0060bf;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

.ymtl-logo {
    font-family: "Shadows Into Light";
    color: white;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    line-height: 1.2em;
}

.ymtl-logo span {
    color: white
}

div {
    display: block;
}

html, body {
    text-align: left;
}

html {
    color: black;
    font-size: 16px;
}

body {
    font-size: 0.8125rem;
    line-height:  1.231;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, textarea {
    cursor: text;
    word-wrap: break-word;
    border: 1px solid transparent;
    border-radius: 3px;
    outline:  none;
}

button {
    background-color: #2e8ceb;
    color: white;
    border-radius: 3px;
    border: 1px solid #999;
}

/* button:hover {
    border-bottom: 0.15rem solid #0060bf ;
} */
button:active {
    background-color: #0060bf;
}