#task-update-panel {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 529px;
	left: 739px;
	box-shadow: -2px 0 0 #d9d9d9;
	background-color: #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 100%;
	color: black;
}

#label-task-name {
	display: none;
}

#task-name-container {
	position: relative;
	margin-bottom: 11px;
}

#input-task-name {
	line-height: 18px;
	padding: 0 7px;
	font-size: 18px;
	border-left: 3px solid #ccc;
	width: 80%;
}

#input-task-name:hover {
	border-color: #999;
}

#label-task-name {
	outline: none;
	overflow: hidden;
	min-height: 22px;
	float: none;
	line-height: 2.375rem;
	padding: 1px;
	font-size: 1.125rem;
	word-wrap: break-word;
	outline: none;
	color: black;
}

#task-name-container, #label-task-name {
	position: relative;
	padding: 17px 0 2px 17px;
	border-radius: 3px;
}

#list-select {
	border: none;
	font-size: 13px;
	position: relative;
	left: -3px;
}

.fields {
	margin-right: 64px;
	/* display: table; */
	margin-bottom: 11px;
}

.field-container {
	white-space: nowrap;
	display: flex;
	align-items: center;
	outline: none;
	overflow: hidden;
	margin-top: 18px;
	margin-left: 42px;
}

.field-container label {
	color:  #999;
	width: 1%;
	min-width: 100px;
	height: 17px;
	border: 1px solid transparent;
	display: table-cell;
	vertical-align: top;
	font-size: 13px;
}

.field-container input {
	display: table;
	table-layout: fixed;
	max-width: 100%;
	margin-bottom: 1px;
}

#notes-container {
	display: content-box;
	width: 100%;
	margin-top: 25px;
}

#label-notes {
	border-bottom-color: #e5e5e5;
	clear: left;
	padding: 17px 0 2px 17px;
	border-bottom-color: 1px dotted;
	height:  22px;
	font-weight: normal;
	font-size: 1.0625rem;
	border: 1px solid transparent;
}

#task-notes {
	border-bottom-color: #e5e5e5;
	border-bottom-color: 1px dotted;
	padding: 10px;
	position: relative;
	overflow: visible;
	margin: 0;
	border-right-color: #d0d3d6;
	border-bottom-color: #fff;
	border-top-color: #fff;
	left: 5px;
	top: 11px;
	border: thin solid #999;
	width: 80%;
	margin: 13px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button-update-task {
    height: 32px;
    width: 70px;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
	margin-left: 20px;
}

.button-update-task:hover {
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 30%);
}
.button-update-task:active {
    background-color: #0060bf;
}

#task-due-date {
	width: 139px;
}

#task-due-date:hover {
	border-color: #999;
}

#task-completed {
	cursor: pointer;
	margin-top: 3px;
}

.fa-trash {
	position: absolute;
	right: 110px;
	top: 65px;
	z-index: 1;
	color: rgb(100, 100, 100);
	font-size: 14px;
}

.fa-trash:hover {
	cursor: pointer;
	color: rgb(50, 50, 50);
}

.task-update-error {
	color: rgb(210, 0, 0);
    padding-left: 18px;
    margin-top: 8px;
}

#task-update-cancel-button {
    height: 32px;
    width: 70px;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
	margin-left: 10px;
    background-color: rgb(248, 248, 248);
    color: rgb(33, 33, 33);
}

#task-update-cancel-button:hover {
    color: #2e8ceb;
}