#div-root {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#login-form {
    padding: 200px 10px 0;
    width: 75%;
}

#login-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

#left-div {
    background-color: #0060bf;
    box-sizing: border-box;
}

#right-div {
    display: flex;
    justify-content: center;
    background-color: white;
}

article {
    display: flex;
    flex-direction: column;
    height: 615px;
    width: 70%;
    margin-left: 10vw;
    justify-content: space-between;
    box-sizing: border-box;
}

#log-in-author {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-field {
    width: 100%;
    padding: 10px 12px;
    font-size: 23px;
    line-height: 1.3333;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px rgb(172, 172, 172) solid;
}

.login-field:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

#login-button {
    display: block;
    width: 100%;
    padding: 10px 12px;
    color: #fff;
    background-color:#009dff;
    margin-bottom: 0px;
    line-height: 1.75;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 19px;
}

#login-button:hover {
    background-color: #007ecc;
}

#login-signup {
    position: absolute;
    right: 70px;
    top: 40px;
    border: none;
    border-radius: 5px;
    padding: 7px 11px;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 96, 191, 0.1);
}

#login-form h3 {
    font-weight:500;
    font-size: 21px;
    margin-bottom: 28px;
}

blockquote {
    border: none;
    color: #fff;
    opacity: .9;
    font-size: 28px;
    font-weight: 500;
    margin-top: 232px;
    line-height: 1.2;
    padding: 0 0 0 3px;
    max-width: 400px;
    margin: 0 0 22px;
}

#login-footer {
    font-size: 18px;
    color: #fff;
    opacity: .75;
    padding-left: 4px;
    font-weight: normal;
}

#log-in-avatar {
    background-image: url('https://www.rememberthemilk.com/img/avatar_bob_60.png?1587967172');
    background-repeat: no-repeat;
    background-size: 60px auto;
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.85);
    margin-right: 11px;
}

#log-in-avatar-text{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    opacity: .6;
    max-width: 360px;
    line-height: 1.3333333;
}

#login-error {
    background-color: rgb(234, 82, 0, 0.15);
    color: #212121;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    margin: 20px 0 20px 0;
}

.fa-exclamation-circle {
    color: #ea5200;
    font-size: 20px;
    margin-right: 10px;
}
