#notepad {
    width: 75px;
}

#signup-fields {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

#signup-form {
    clear: both;
    padding: 126px 10px 0;
}

#signup-form h3 {
    font-size: 21px;
    margin-bottom: 28px;
    font-weight: normal;
}

.signup-field {
    font-size: 23px;
    padding: 10px 12px;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px rgb(204, 204, 204) solid;
    color: rgb(85, 85, 85);
    font-weight: 400;
}

.signup-field::placeholder {
    color: rgb(204, 204, 204);
    font-weight: 400;
}

.signup-field:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

#login-signup:active {
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

#ymtl-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 20px;
    margin: 13px 0 0 5px;
}

#quote-div {
    color: rgb(255, 255, 255, 0.5);
    font-weight: 500;
    margin: 27px 0 0 2px;
    font-size: 27px;
    max-width: 420px;
}

#image1 {
    background-image: url(https://www.rememberthemilk.com/img/hp_person3.png?1587967172
    );
    background-repeat: no-repeat;
    background-size: 90px auto;
    background-position: 4px 15px;
    background-color: #359aff;
    width: 100px;
    height: 103px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 23px;
}

#image2 {
    background-image: url(https://www.rememberthemilk.com/img/hp_person2.png?1587967172
    );
    background-repeat: no-repeat;
    background-size: 90px auto;
    background-position: 4px 15px;
    background-color: #2ab27b;
    width: 100px;
    height: 103px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 23px;
}

#image3 {
    background-image: url(https://www.rememberthemilk.com/img/hp_person4.png?1587967172
    );
    background-repeat: no-repeat;
    background-size: 90px auto;
    background-position: 4px 15px;
    background-color: #359aff;
    width: 100px;
    height: 103px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 23px;
}

#signup-left-div {
    margin-left: 25%;
    padding-bottom: 100px;
    box-sizing: border-box;
}

#image-divs {
    margin: 222px 0 0 -9px;
}

.signup-error {
    color: #ea5400;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 15px;
}

.error.signup-field {
    background-color: #fdede5;
    border: #ea5400 1px solid;
}