
#homepage-header {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
    margin: 18px 0 31px 0;
}

#homepage-signup-button {
    font-family: MuseoSansRounded, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #fff;
    background-color: #d24b03;
    border-color: transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 3px;
    padding: 11px 32px 12px;
    line-height: 1.2;
}

#slideshow-container {
    padding: 10px;
    margin: 10px;
}

#homepage-footer {
    margin-top: 10px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    padding: 50px 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
}
