#list-summary {
    background-color: #e4eef8;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 100%;
}

#list-summary h2 {
    font-size: 18px;
    margin: 30px 17px 20px;
}

#summary-container {
    margin: 20px 17px;
    display: flex;
    flex-direction: row;   
    justify-content: flex-start;
}

.summary-box {
    vertical-align: top;
    display: inline-block;
    padding:  9px 13px;
    margin-right: 5px;
    line-height: 100%;
    border-radius: 5px;
    height: 53px;
    background: #dbe8f6;
}

.task-quantity {
    font-size: 1.1875rem;
    font-weight: bold;
    line-height: 100%;
    padding-top: 1px;
}

.task-quality {
    font-size: 12px;
}

.completed-summary {
    color: rgba(0,0,0,0.4);
}

#task-summary {
    color: #0060bf;
}

#overdue-summary {
    color: #d74a00;
}